{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="main">
    <div class="row">
        <div class="column1" style="background-color:#aaa;">
            <h2>Categories</h2>
            {% for c in categories %}
                <a href='{{url_for('showCategory', category_name=c.name ) }}' id="styledLink2">{{c.name}}</a>
                <br> 
                <br> 
            {% endfor %}
            <a href='{{url_for('newCategory') }}' id="styledLink">Add Category</a>
        </div>
        <div class="column2" style="background-color:#bbb;">
            <h2>Recent Items</h2>
            {% for i in recentItems %}
                <a href='{{url_for('showItem', category_name=i.category.name, item_name=i.name ) }}' id="styledLink2">{{i.name}} : {{i.category.name}}</a>
                <br>
                <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
