{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="main">
    <div class="row4">
    <h2>Please sign-in via your Google Account</h2>
        <div id="signinButton">
            <span class="g-signin"
                data-scope="openid email"
                data-clientid="481152590611-3vdjve0kdhkur86cg109bpegmfdqnrps.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>
        </div> 
        <div id=result></div> 
    </div>
</div>

<!-- This will be called after the user attempts to authenticate themselves and
authorize your app to access their information -->
<script>
    /* The function is passed a object called authResult that contains the
    result of the login attempt.
    */
    function signInCallback(authResult) {
        /* If authResult contains a code then we know that the login was
        successful and that our one time use code is present
        */ 
        if (authResult['code']) {
            // Hide the login button
            $('#signinButton').attr('style', 'display: none');
            // Pass the one time code google gave the client to the server
            $.ajax({
                // Request type
                type: 'POST',
                /* This is the url this method will call, a state token is 
                also passed to verify against a cross site reference forgery
                attack
                */
                url: '/gconnect?state={{STATE}}',
                // Do not process the response into a string
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                // The data that we want to send to our server
                data: authResult['code'],
                /* When we recieve a successful login from our server we will
                give the user a success message
                */
                success: function(result) {
                    if(result) {
                        // Add success message to result div
                        $('#result').html('Login Successful!</br>' + result +
                        '</br>Redirecting...')
                        // Redirect user to main catalog page after 3 seonds
                        setTimeout(function() {
                            window.location.href = '/catalog';
                        }, 5000);
                    // Prints error if any occur
                    } else if (authResult['error']) {
                        console.log('There was an error' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server side call, check \
                        your configuration and console');
                    }
                }
            });
        }
    }
</script>
{% endblock %}  