<html>
    <body>
        <h1>Catalog</h1>
        {% for c in categories %}

        <a href = "{{url_for('showCategory', category_name = c.name)}}">{{c.name}}</a>

    <br>
        {% endfor %}

        <div class = 'flash'>
                {% with messages = get_flashed_messages() %}
        {% if messages %}
            
          <ul>
          {% for message in messages %}
              <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
          </ul>
          {% endif %}
      {% endwith %}
  
  </div>
    
    <br>
        <h2>Most Recent Items</h2>
        {% for i in recentItems %}

        {{i.name}}: ({{i.category.name}})
    <br>
        {% endfor %}

    <a href='{{url_for('newCategory') }}'>Add Category</a>
    </body>
</html>